
<ion-content [fullscreen]="true">
  
  <div class="main-content">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="first" color="warning"></ion-menu-button>
      </ion-buttons>
  
    </ion-toolbar>

    <div class="user-profile">
      <img class="logo" src="../../../assets/logo.png" alt="Imagen logo">

      <div class="user-data">
        <h3 class="user-name animate__bounce">Bienvenido</h3>
        <h3 class="user-name">{{ usuario.nombre }}</h3>
      </div>
    </div><!--div perfil-->

    <div class="content-div">

      <div class="buttons-div">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">

              <mat-card>
                <mat-card-actions>
                  <img src="../../../assets/qr.png" alt="qr foto">
                  <ion-button (click)="mostrarCamara()" fill="clear">
                    Escanear
                  </ion-button>
                </mat-card-actions>
              </mat-card>

            </ion-col>

            <ion-col size="6">

              <mat-card>
                <mat-card-actions>
                  <img src="../../../assets/Background.png" alt="qr foto">
                  <button mat-button>Horario</button>
                </mat-card-actions>
              </mat-card>

            </ion-col>

            <ion-col size="6">
                <mat-card >
                  <mat-card-actions>
                    <img src="../../../assets/ayuda.png" alt="qr foto">
                    <ion-button (click)="mostarAyuda()" fill="clear">
                      Ayuda
                    </ion-button>
                  </mat-card-actions>
                </mat-card>
              
            </ion-col>

            <ion-col size="6">

              <mat-card>
                <mat-card-actions>
                  <img src="../../../assets/historialpng.png" alt="qr foto">
                  <button mat-button>Historial</button>
                </mat-card-actions>
              </mat-card>

            </ion-col>
          </ion-row>
        </ion-grid> 
      </div>

    </div><!--content info-->

  </div>


</ion-content>
